@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');
@import 'bootstrap-icons';
*{
     font-family: 'El Messiri', sans-serif;
    letter-spacing: 1px !important;


}
*:focus ,*:hover{
    
        outline:0px !important;
         outline-color: #fff !important;
         box-shadow:  #fff !important;

}
p{
    font-size: normal !important;
}
button:hover, button:focus{
    color:  #fff !important;
    background-color: var(--sec-color) !important;
    border: 1px solid var(--sec-color) !important;
    box-shadow: none;
    outline-color: #fff !important;
  }
  .baground{  
    border-radius: 15px !important; 
    background-color: #000000 !important 
    }