@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');
*{
    direction: rtl;
    font-family: 'El Messiri', sans-serif;
    letter-spacing: 2px !important;


}
*:focus ,*:hover{
    
        outline:0px !important;
         outline-color: #fff !important;
         border: 0 !important;
        box-shadow: none !important;

}
p{
    font-size: normal !important;
}